<html>
<head><title>rdr server</title></head>
<body style='margin:5%'>

<p style='text-align:center'><em>"A Web interface to your Distant Reader study carrels"</em></p>

<p>The following commands are available:</p>

<ul>
	<li><a href="./homer">browse</a></li>
	<li><a href="./catalog">catalog</a></li>
	<li><a href="./concordance">concordance</a></li>
	<li><a href="./info">info</a></li>
	<li><a href="./search">full text search</a></li>
	<li><a href="./ngrams">ngrams</a></li>
	<li><a href="./wrd">keywords</a></li>
</ul>

<hr />

<p style='text-align:right'>
Eric Lease Morgan &lt;emorgan@nd.edu&gt;
</p>

</body>
</html>